name: Deploy VM to Azure

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy ARM Template
        uses: azure/arm-deploy@v1
        with:
          subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          resourceGroupName: /subscriptions/d75c0c5c-debd-4cc4-b516-6f2ecb82221a/resourceGroups/my-rg-storage
          template: ./vm-template.json
          # No adminUsername/adminPassword here
          # You can pass a parameter file instead if needed:
          # parameters: ./vm-parameters.json